body{
    background-color: gray;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.hold{
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

.hold div{
    width: 20px;
    height: 20px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: black;
    margin-left: 25px;
    margin-right: 25px;
}

.grid div{
    width: 20px;
    height: 20px;
}

.miniGrid{
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

.miniGrid div{
    width: 20px;
    height: 20px;
}

.score{
    margin-left: 105px;
}

.shadow{
    background-color: green;
}

.tetromino{
    background-color: blue;
}

